@use '_theme.scss';

* {
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

@mixin flex-center($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-column($justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-row($justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin flex-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

@mixin circle($background, $width, $height, $border-radius) {
    background: $background;
    width: $width;
    height: $height;
    border-radius: $border-radius;
}

@mixin underline($color, $width) {
    background: linear-gradient(180deg, rgba(0,0,0,0) 60%, $color 40%);
    width: $width;
}