@use '_theme.scss';
@use '_common.scss' as common;

.todo {
    width: 100%;

    &__header {
        @include common.flex-column(center, flex-start);
        width: 100%;
        height: 5rem;
        padding: 0 20px;
        margin-bottom: 20px;

        .date {
            @include common.flex-row(center, flex-start);
            font-size: 2rem;
            font-weight: 900;
            margin-bottom: 10px;
        }
        .day {
            font-size: 1rem;
            font-weight: 500;
            vertical-align: top;
        }
    }

    &__list {
        width: 100%;
        padding: 0 20px;
        overflow-y: auto;
    }

    &__create {
        @include common.flex-row(flex-start, center);

        color: theme.$gray-color;
        padding: 50px 20px;

        .input-box {
            border: 1px solid theme.$lightgray-color;
            border-radius: 5px;
            padding: 10px;
            margin-right: 15px;
            font-size: 1rem;
        }

        .add {
            @include common.flex-center();
            font-size: 1.5rem;
            background: theme.$main-color;
            color: theme.$white-color;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            transition: 0.125s all ease-in;
            &:hover {
                background: theme.$sub-color;
            }
            &.open {
                background: theme.$red-color;
                transform: rotate(45deg);
                &:hover {
                    background: theme.$lightred-color;
                }
            }
        }
    }
    
    &__item {
        @include common.flex-row(flex-start, center);
        padding: 12px 0;

        .check {
            display: flex;
            font-size: 1.5rem;
            margin-right: 20px;
            color: theme.$gray-color;
            cursor: pointer;
            
            &.done {
                color: theme.$main-color;
            }
        }
        .text {
            font-size: 1.2rem;
            flex: 1;
            text-align: left;
            color: theme.$gray-color;
        }
        .remove {
            font-size: 1.5rem;
            color: #dee2e6;
            cursor: pointer;
            width: 25px;
            height: 21px;
            display: none;
            &:hover{
                color: theme.$red-color;
            }
        }
        &:hover .remove{
            display: initial;
        }
    }
}