@font-face {
  font-family: "NanumSquareRound";
  src: url('assets/font/NanumSquareRoundR.ttf'),
       url('assets/font/NanumSquareRoundR.woff');
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'NanumSquareRound';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
